@using BabyGet.Common
@model BabyGet.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>   
    <div class="col-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Recipes: @Model.ItemsCount</li>
            <li class="list-group-item bg-light">Categories: @Model.CategoriesCount</li>           
        </ul>
    </div>
</div>
